.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(231, 231, 231);
    ;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #ddd;
}

.nav li a.active {
    color: white;
    background-color: #666;
}


/* Button */
.button {
  font: bold 11px Arial;
  text-decoration: none;
  color: #000;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
}

.primary {
    background-color: #286090;
    color: #CCC;
}

/* Dropdown */

.dropMenu {
    padding: 15px 15px 15px 15px;
}

/* Jumbotron */

.jumbotron {
    background-color: #eee;
}

.container {
    padding: 60px 60px 60px 60px;
}

/* Tabs */

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}