<!DOCTYPE html>
<html lang="pt-br" ng-app="notesApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <title>Document</title>
</head>

<body>
    <!--<h2>Todo</h2>
  <div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span> [ <a href="" ng-click="todoList.archive()">archive</a>    ]
    <ul class="unstyled">
      <li ng-repeat="todo in todoList.todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
      <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
      <input class="btn-primary" type="submit" value="add">
    </form>
  </div>
  <hr>-->
    <div class="container" ng-controller="NotesListController as notesList">
        <h1>Avaliações</h1>
        <button class="btn btn-danger" ng-click="notesList.archive()">Excluir selecionados</button>
        <br/>
        <br/>
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>Alunos</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Nota 4</th>
                <th></th>
            </tr>
            <tr ng-repeat="noteObj in notesList.notes">
                <td>
                    <input type="checkbox" ng-model="noteObj.done">
                </td>
                <td>{{noteObj.aluno}}</td>
                <td>{{noteObj.nota1}}</td>
                <td>{{noteObj.nota2}}</td>
                <td>{{noteObj.nota3}}</td>
                <td>{{noteObj.nota4}}</td>
                <td>
                    <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#notesModal" ng-click="notesList.calculateNotes(noteObj);">Avaliação</button>
                </td>
            </tr>
        </table>
        <form ng-submit="notesList.addNote()">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="notesList.aluno" size="30" placeholder="Nome do aluno">
                <br/>
                <input class="form-control" type="number" min="0" max="10" step="0.1" ng-model="notesList.nota1" size="30" placeholder="Nota 1">
                <br/>
                <input class="form-control" type="number" min="0" max="10" step="0.1" ng-model="notesList.nota2" size="30" placeholder="Nota 2">
                <br/>
                <input class="form-control" type="number" min="0" max="10" step="0.1" ng-model="notesList.nota3" size="30" placeholder="Nota 3">
                <br/>
                <input class="form-control" type="number" min="0" max="10" step="0.1" ng-model="notesList.nota4" size="30" placeholder="Nota 4">
                <br/>
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>

        <h2>Adiciona aluno com $scope</h2>
        <table class="table table-hover">
            <tr>
                <th>Aluno</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Nota 4</th>
                <th>Média</th>
                <th>Conceito</th>
            </tr>
            <tr>
                <td>{{nomeAluno}}</td>
                <td>{{nota1Aluno}}</td>
                <td>{{nota2Aluno}}</td>
                <td>{{nota3Aluno}}</td>
                <td>{{nota4Aluno}}</td>
                <td>{{media | number:2}}</td>
                <td>{{conceito}}</td>
            </tr>
        </table>
        <form ng-submit="addNoteWithScope()">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="nomeAluno" size="30" placeholder="Nome do aluno">
                <br/>
                <input ng-blur="calculateNotesWithScope();" class="form-control" type="number" min="0" max="10" step="0.1" ng-model="nota1Aluno" size="30" placeholder="Nota 1">
                <br/>
                <input ng-blur="calculateNotesWithScope();" class="form-control" type="number" min="0" max="10" step="0.1" ng-model="nota2Aluno" size="30" placeholder="Nota 2">
                <br/>
                <input ng-blur="calculateNotesWithScope();" class="form-control" type="number" min="0" max="10" step="0.1" ng-model="nota3Aluno" size="30" placeholder="Nota 3">
                <br/>
                <input ng-blur="calculateNotesWithScope();" class="form-control" type="number" min="0" max="10" step="0.1" ng-model="nota4Aluno" size="30" placeholder="Nota 4">
                <br/>
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Avaliação</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Aluno:</b> {{notesList.result.aluno}}</p>
                        <p><b>Média:</b> {{notesList.result.media | number:2}}</p>
                        <p><b>Conceito:</b> {{notesList.result.conceito}}</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/notes.js"></script>
</body>

</html>